<!doctype html>
<html>

<head>
    <title>Admin page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div id="vue-app" class="container">
        <div class="btn-group text-center">
            <p>
                <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
                <a href="/profile" class="btn btn-primary btn-lg">My profile</a>
            </p>
            <hr>
        </div>
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Welcome superuser</h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Role</th>
                    <th>Banned?</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in userlist">
                    <td>{{user.local.email}}</td>
                    <td>{{user.local.name}}</td>
                    <td>{{user.local.age}}</td>
                    <td>{{user.local.role}}</td>
                    <td><input type="checkbox" v-model="user.local.isBanned" @click="saveChanged(user)"></td>
                </tr>
            </tbody>
        </table>
        <button v-bind:class="{disabled: !saveBut}" @click="updateUsers()" class="btn btn-warning btn-lg text-center">Save Changes</button>
        <hr>
        <div v-show="message" class="alert alert-danger">
            <p>{{message}}</p>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>

</html>