<!doctype html>
<html>

<head>
    <title>Admin page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div id="vue-app" class="container">
        <div class="btn-group text-center">
            <p>
                <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
            </p>
            <hr>
        </div>
        <div class="jumbotron text-center">
            <h1><span class="fa fa-ban"></span> Sory, but you are banned (:</h1>
        </div>
    </div>
</body>

</html>