<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div id="vue-app" class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <% if (user.local.role === "admin") { %>
                <a href="/admin" class="btn btn-default btn-sm">Admin page</a>
                <% } %>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <p>
                        <i v-show="! (imageSrc || '<%= user.local.photo %>')" class="fa fa-picture-o" style="font-size: 10em" aria-hidden="true"></i>
                        <img v-show="(imageSrc || '<%= user.local.photo %>')" class="img-rounded" v-bind:src="imageSrc || '<%= user.local.photo %>'" alt=" User photo" width="140">
                    </p>
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger">
                            <%= message %>
                        </div>
                        <% } %>
                            <form name="upload" action="/profile" method="POST" enctype="multipart/form-data">
                                <label for="photo" class="btn btn-default">Choose photo</label>
                                <input id="photo" @change="previewThumbnail" type="file" name="photo" accept="image/*" style="display: none">
                                <h3><span class="fa fa-user"></span>
                                    <strong>Login:</strong>
                                    <%= user.local.email %>
                                </h3>
                                <p>
                                    <label>Name:</label>
                                    <input class="form-control" type="text" name="name" value="<%= user.local.name %>" v-model="name" id="name">
                                    <label>Age:</label>
                                    <input class="form-control" type="text" name="age" value="<%= user.local.age %>" v-model="age" id="age">
                                </p>
                                <p><button v-bind:class="{disabled: !saveBut}" type="submit" class="btn btn-warning btn-lg">Сохранить</button></p>
                            </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script> -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script src="/js/profile.js"></script>
</body>

</html>